@import "normalize";
@font-face {
  font-family: "Sans Pro";
  src: url('../fonts/SourceSansPro-Regular.eot');
  src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Regular.woff') format('woff'), url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: "Sans Pro";
  src: url('../fonts/SourceSansPro-Bold.eot');
  src: url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Bold.woff') format('woff'), url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: "Sans Pro";
  src: url('../fonts/SourceSansPro-SemiBold.eot');
  src: url('../fonts/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-SemiBold.woff') format('woff'), url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
%bold-font {
  font-family: "Sans Pro";
  font-weight: bold;
  color: #212121;
}
%regular-font {
  font-family: "Sans Pro";
  font-weight: normal;
  color: #212121;
}
%semibold-font {
  font-family: "Sans Pro";
  font-weight: 600;
  color: #212121;
}
%container {
  display: flex;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
%feedback-links {
  padding: 0;
  margin-left: 13px;
  margin-top: 30px;
  line-height: 1.5;
}
.container {
  display: flex;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
body {
  overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #212121;
}

// main header
.main-header {
  position: absolute;
  // background-color: rgba(124, 117, 117, 0.452);
  // backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
}
.main-header .container {
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 10px;
  padding-right: 10px;
}
.main-header__logo {
  @extend %bold-font;
  font-size: 17px;
  margin-left: 2px;
  text-decoration: none;
  &:hover {
    color: #312f2f;
    text-shadow: 2px 2px 2px rgba(121,120,111,0.49);
  }
}
.main-header__nav-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 0;
  li {
    margin-left: 23px;
    a {
      @extend %bold-font;
      font-size: 16px;
      &:hover {
        color: #312f2f;
        text-shadow: 2px 2px 2px rgba(121,120,111,0.49);
      }
    }
  }
}
        
// banner
.banner {
  display: flex;
  height: 100vh;
  margin: 0;
  background-image: url(../media/banner_bg.jpg);
  background-position: center;
  background-size: cover;
}
.banner .container {
  flex-direction: column;
  align-self: flex-end;
  justify-content: flex-end;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 18.1vh;
}
.banner__promo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  h1 {
    @extend %bold-font;
    font-size: 73px;
    position: relative;
    margin-bottom: 45px;
    &:after {
      content: "";
      position: absolute;
      top: 96px;
      left: 309px;
      width: 137px;
      height: 5px;
      background-color: #212121;
    }
  }
  p {
    max-width: 550px;
    margin-top: 6px;
    @extend %regular-font;
    font-size: 18px;
    text-align: right;
    line-height: 1.9;
  }
  a {
    @extend %semibold-font;
    font-size: 18px;
    word-spacing: 1px;
    border: 2px solid #212121;
    box-sizing: border-box;
    width: 270px;
    height: 50px;
    margin-top: 36px;
    text-align: center;
    line-height: 50px;
    &:hover {
      background-color: rgba(47, 47, 38, 0.4);
    }
  }
}

// intro
.intro .container {
  max-width: 970px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 10px 98px;
  h2 {
    @extend %bold-font;
    font-size: 27px;
    word-spacing: 6px;
    margin-top: 17px;
  }
  p {
    @extend %regular-font;
    font-size: 16px;
    margin-top: 4%;
    line-height: 2;
    text-align: center;
    word-spacing: 2px;
  }
}

// services
.services {
  background-color: #efefef;
  padding: 80px 10px 93px;
}
.services .container {
  justify-content: space-between;
  align-items: center;
  max-width: 1075px;
}
.services__block {
  h3 {
    @extend %semibold-font;
    font-size: 18px;
    word-spacing: 5px;
    letter-spacing: 0.8px;
  }
  p {
    max-width: 270px;
    @extend %regular-font;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 29px;
    word-spacing: 5px;
  }
  img {
    height: 37px;
  }
}

// featured articles
.featured-articles .container {
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 105px;
  padding-bottom: 44px;
}
.featured-articles__info {
  max-width: 770px;
  margin-bottom: 87px;
  h2 {
    @extend %bold-font;
    font-size: 27px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
  }
  p {
    margin-top: 29px;
    @extend %regular-font;
    font-size: 16px;
    text-align: center;
    line-height: 2;
  }
}
.featured-articles__slider {
  max-width: 1166px;
  margin-bottom: 8%;
}
.featured-articles__slider-block {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 370px;
  height: 370px;
  background-color: #222222;
  &:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 147px;
    width: 73px;
    height: 5px;
    background-color: #e64a19;
    z-index: 5;
  }
  p {
    @extend %regular-font;
    font-size: 14px;
    letter-spacing: 1px;
    color: #eee;
    margin-top: 60px;
    margin-left: 30px;
  }
  h3 {
    @extend %regular-font;
    font-size: 28px;
    color: #eee;
    margin: 25px 55px 10px 30px;
    height: 140px;
  }
  figure {
    display: flex;
    margin-top: 0;
    margin-left: 30px;
    img {
      border-radius: 50%;
    }
    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @extend %semibold-font;
      font-size: 14px;
      letter-spacing: 1px;
      margin-left: 30px;
      color: #eee;
      margin-left: 13px;
      p {
        margin: 2px;
      }
    }
  }
}
.featured-articles__slick-prev button {
  position: absolute;
  background-color: transparent;
  background-image: url(../media/angle-left-solid.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 15px;
  left: -7%;
  top: 59%;
  border-color: transparent;
  cursor: pointer;
  outline: none;
}
.featured-articles__slick-next button {
  position: absolute;
  background-color: transparent;
  background-image: url(../media/angle-right-solid.png);
  background-repeat: no-repeat;
  right: -7%;
  top: 59%;
  height: 30px;
  width: 15px;
  border-color: transparent;
  cursor: pointer;
  outline: none;
}

// clients
.clients {
  background-color: #efefef;
}
.clients .container {
  flex-direction: column;
  position: relative;
  max-width: 930px;
  border-top: 1px solid transparent;
  padding-top: 65px;
  padding-bottom: 105px;
  h2 {
    @extend %bold-font;
    font-size: 27px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 0;
  }
}
.clients__slider {
  margin-left: 20px;
  margin-top: 37px;
}
.slick-initialized .slick-slide {
  width: 160px;
}
.clients__slick-prev {
  button {
  position: absolute;
  background-color: transparent;
  background-image: url(../media/angle-left-solid.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 15px;
  left: -7%;
  top: 50%;
  border-color: transparent;
  cursor: pointer;
  outline: none;
  }
}
.clients__slick-next {
  button {
  position: absolute;
  background-color: transparent;
  background-image: url(../media/angle-right-solid.png);
  background-repeat: no-repeat;
  right: -7%;
  top: 50%;
  height: 30px;
  width: 15px;
  border-color: transparent;
  cursor: pointer;
  outline: none;
  }
}

// portfolio
.portfolio .container {
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 106px;
  padding-bottom: 120px;
}
.portfolio__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  h2 {
    @extend %bold-font;
    font-size: 27px;
    text-align: center;
    margin-top: 0;
    letter-spacing: 2px;
    
    
  }
  p {
    @extend %regular-font;
    font-size: 16px;
    max-width: 770px;
    text-align: center;
    line-height: 2;
    margin-top: 11px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 122%;
    width: 75px;
    height: 7px;
    background-color: #e64a19;
  }
}
.portfolio__filter {
  display: flex;
  margin-top: 86px;
  button {
    @extend %regular-font;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
    margin-left: 0px;
    margin-right: 31px;
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      text-shadow: 2px 2px 2px rgba(121,120,111,0.49);
    }
  }
}
.portfolio__slider {
  width: 100vw;
  margin-top: 46px;
}
.portfolio__slider-item {
  width: 100%;
  height: 360px;
  display: flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  text-align: center;
  filter: grayscale(100%);
  max-height: 360px;
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
}
.portfolio .slick-dots {
  bottom: -21%;
}
.slick-center .portfolio__slider-item {
  filter: grayscale(0%);
}
.portfolio .slick-dots li button:before {
  font-size: 13px;
}
.portfolio .slick-dots .slick-active button:before {
  opacity: .9;
  color: #e64a19;
}

// quote
.quote {
  background-color: #212121;
}
.quote .container {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 52px 10px 47px;
  @extend %regular-font;
  font-size: 20px;
  text-align: center;
  img {
    margin-top: 30px;
  }
}
.quote__text {
  color: #eee;
  max-width: 835px;
  line-height: 2;
  margin-top: 15px;
}
.quote__author {
  color: #fff;
  margin-top: 8px;
}

// team members
.team-members .container {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  
}
.team-members__info {
  h2 {
    @extend %bold-font;
    letter-spacing: 2px;
    font-size: 27px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  p {
    max-width: 770px;
    @extend %regular-font;
    font-size: 16px;
    text-align: center;
    line-height: 2;
    margin-bottom: 0;
    margin-top: 44px;
  }
}
.team-members__person {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 74px;
  width: 100%;
  figure {
    margin-right: 26px;
  }
}
.team-members__person-name {
  @extend %bold-font;
  font-size: 16px;
  text-align: center;
  margin-top: 49px;
}
.team-members__person-job {
  @extend %regular-font;
  font-size: 15px;
  text-align: center;
}

// facts
.facts {
  background-image: linear-gradient(to top left, rgba(87, 87, 87, .7), rgba(87, 87, 87, .7)), url(../media/facts-banner.jpg);
  background-position: center;
  background-size: cover;
}
.facts .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 145px;
  h2 {
    @extend %bold-font;
    font-size: 26px;
    color: #eee;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 7px;
  }
}
.facts__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(146, 146, 146, .34);
  position: relative;
  padding: 55px 94px 70px 100px;;
  max-width: 830px;
  box-sizing: border-box;
  margin-top: 66px;
  &:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 45%;
    width: 80px;
    height: 6px;
    background-color: #e64a19;
  }
}
.facts__block-proj, .facts__block-clients, .facts__block-plug, .facts__block-themes {
  position: relative;
  display: flex;
  flex-direction: column;
  p {
    text-align: center;
    letter-spacing: 2px;
    &:first-of-type {
      margin-top: 0;
      margin-bottom: 15px;
      @extend %bold-font;
      color: #eee;
      font-size: 26px;
    }
    &:last-of-type {
      margin-top: 16px;
      margin-bottom: 0;
      @extend %regular-font;
      color: #eee;
      font-size: 24px;
    }
  }
  &:after {
    content: "";
    position: absolute;
    width: 76px;
    height: 4px;
    background-color: #4d4c4b;
  }  
}
.facts__block-proj {
  margin-right: 185px;
  margin-bottom: 52px;
  &:after {
    top: 51%;
    right: 32%;
  }
}
.facts__block-clients {
  margin-right: 21px;
  &:after {
    top: 31%;
    right: 31%;
  }
}
.facts__block-plug {
  &:after {
    top: 50%;
    right: 36%;
  }  
}
.facts__block-themes {
  margin-left: 137px;
  &:after {
    top: 50%;
    right: 34%;
  }   
}

// blog
.blog .container {
  min-height: 1340px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: minmax(auto, 430px);
  justify-items: center;
  align-items: center;
  margin-top: 6%;
}
.blog__text {
  p {
    @extend %regular-font;
    text-align: center;
    word-spacing: 1px;
  }
  h3 {
    @extend %semibold-font;
    font-size: 24px;
    text-align: center;
    margin-bottom: 43px;
    margin-top: 0px;
  }
}
.blog__text-date {
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.blog__text-prev {
  font-size: 16px;
  line-height: 2;
  max-width: 430px;
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 43px;
}

// blog articles
.blog-articles {
  background-color: #efefef;
}
.blog-articles .container {
  display: block;
  position: relative;
  max-width: 1320px;
  padding-top: 65px;
  padding-bottom: 65px;
}
.blog-articles__slider-block {
  position: relative;
  margin-left: 97px;
  h3 {
    @extend %semibold-font;
    font-size: 18px;
  }
  p {
    @extend %regular-font;
    font-size: 14px;
  }
  &:before {
    content: "";
    position: absolute;
    height: 75px;
    width: 6px;
    background-color: #212121;
    left: -23px;
    top: 8px;
  }
}
.blog-articles__slick-prev button {
  position: absolute;
  background-color: transparent;
  background-image: url(../media/angle-left-solid.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 15px;
  left: -1%;
  top: 44%;
  border-color: transparent;
  cursor: pointer;
  outline: none;
}
.blog-articles__slick-next button {
  position: absolute;
  background-color: transparent;
  background-image: url(../media/angle-right-solid.png);
  background-repeat: no-repeat;
  right: 1%;
  top: 44%;
  height: 30px;
  width: 15px;
  border-color: transparent;
  cursor: pointer;
  outline: none;
}

// tweets
.tweets .container {
  max-width: 830px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 75px 10px 95px;
  p {
    text-align: center;
  }
}
.tweets__icon {
  height: 30px;
  width: 30px;
  background-image: url(../media/twitter-icon.png);
  background-repeat: no-repeat;
  transition: .6s;
  &:hover {
    transform: scale(1.2);
  }
}
.tweets__photo {
  border-radius: 50%;
  margin-top: 51px;
}
.tweets__text {
  @extend %regular-font;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 27px;
  line-height: 2;
  word-spacing: -1px;
}
.tweets__link {
  @extend %bold-font;
  font-size: 16px;
  margin-top: 25px;
  &:hover {
    text-shadow: 2px 2px 2px rgba(121,120,111,0.49);
  }
}

// feedback
.feedback {
background-color: #212121;
}
.feedback .container {
  padding: 75px 10px 0 10px;
  box-sizing: border-box;
}
.feedback__form {
  width: 50%;
  padding-right: 110px;
  box-sizing: border-box;
  border-bottom: 1px solid #999;
  h2 {
    margin: 0;
    @extend %bold-font;
    font-size: 22px;
    color: #eee;
    line-height: .7;
  }
  p {
    @extend %regular-font;
    font-size: 14px;
    color: #999;
    line-height: 1.6;
    word-spacing: 1px;
    margin-top: 32px;
  }
}
.feedback__form-block {
  margin-top: 35px;
  padding-right: 17px;
  box-sizing: border-box;
}
.feedback__form-block textarea, input {
  @extend %regular-font;
  font-size: 14px;
  color: #999;
  background-color: #212121;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom: 1px solid #999;
  box-sizing: border-box;
  cursor: text;
  outline-color: rgb(229, 236, 233);
  padding-bottom: 6px;
}
.feedback__form-block-mail {
  width: 46%;
  margin-right: 28px;
}
.feedback__form-block-subj {
  width: 46%;
}
.feedback__form-block-message {
  width: 100%;
  resize: none;
  margin-top: 2px;
  padding-top: 7px;
  padding-left: 1px;
  box-sizing: border-box;
  line-height: .9;
}
.feedback__form-block-btn {
  position: relative;
  cursor: pointer;
  border-color: transparent;
  @extend %regular-font;
  font-size: 14px;
  text-align: start;
  color: #999;
  background-color: #212121;
  padding: 0;
  margin-top: 85px;
  margin-bottom: 10px;
  outline-color: rgb(229, 236, 233);
  &:hover {
    color: #ebe5e5;
    text-shadow: 2px 2px 2px rgba(121,120,111,0.49);
  }
  &:after {
    content: " ";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 19%;
    right: -48%;
    background-color: #999;
    clip-path: polygon(0 1%, 0% 100%, 49% 53%);
  }
}
.feedback__contact {
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-right: 68px;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    @extend %semibold-font;
    font-size: 15px;
    color: #eee;
    line-height: .8;
  }
  ul {
    @extend %feedback-links;
  }
  a {
    @extend %regular-font;
    font-size: 14px;
    color: #999;
    &:hover {
      color: #ebe5e5;
      text-shadow: 2px 2px 2px rgba(121,120,111,0.49);
    }
  }
}
.feedback__contact-links {
  h3 {
    margin-left: 14px;
  }
}
.feedback__contact-friends {
  h3 {
    margin-left: 19px;
  }
  ul {
    margin-left: 19px;
  }
}
.feedback__contact-social {
  margin-left: 4px;
  margin-right: 22px;
  h3 {
    margin-left: 24px;
  }
  ul {
    margin-left: 24px;
  }
}

// main footer
.main-footer {
  background-color: #212121;
}
.main-footer .container {
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px 40px;
  box-sizing: border-box;
}
.main-footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 23px;
  p {
    @extend %regular-font;
    color: #808080;
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
    &:first-of-type {
      margin-top: 0;
    }
  }
}
.main-footer__additional-links {
  display: flex;
  justify-content: flex-end;
  
  ul {
    display: flex;
    justify-content: space-between;
    margin: 0 0 17px 0;
    li {
      margin-left: 30px;
    }
  }
  a {
    @extend %regular-font;
    color: #808080;
    font-size: 13px;
    &:hover {
      color: #ebe5e5;
      text-shadow: 1px 1px 1px rgba(121,120,111,0.49);
    }
  }
}
