@import "normalize";
@font-face {
  font-family: "Sans Pro";
  src: url('../fonts/SourceSansPro-Regular.eot');
  src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Regular.woff') format('woff'), url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: "Sans Pro";
  src: url('../fonts/SourceSansPro-Bold.eot');
  src: url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Bold.woff') format('woff'), url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: "Sans Pro";
  src: url('../fonts/SourceSansPro-SemiBold.eot');
  src: url('../fonts/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-SemiBold.woff') format('woff'), url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
%bold-font {
  font-family: "Sans Pro";
  font-weight: bold;
  color: #212121;
}
%regular-font {
  font-family: "Sans Pro";
  font-weight: normal;
  color: #212121;
}
%semibold-font {
  font-family: "Sans Pro";
  font-weight: 600;
  color: #212121;
}
%container {
  display: flex;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
%feedback-links {
  padding: 0;
  margin-left: 13px;
  margin-top: 30px;
  line-height: 1.5;
}
.container {
  display: flex;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
body {
  overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #212121;
}
input, textarea {
  background-color: #212121;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  box-sizing: border-box;
  font-size: 14px;
  cursor: text;
  border-bottom: 1px solid #999;
  outline-color: rgb(229, 236, 233);
}

// main header
.main__header {
  position: absolute;
  // background-color: rgba(124, 117, 117, 0.452);
  // backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
}
  .main__header .container {
  justify-content: space-between;
  align-items: flex-end;
}
.main__header-logo {
  @extend %bold-font;
  font-size: 17px;
  margin-left: 2px;
  text-decoration: none;
  &:hover {
    color: #312f2f;
    text-shadow: 2px 2px 2px rgba(121,120,111,0.49);
  }
}
.main__header-nav-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 0;
  li {
    margin-left: 23px;
    a {
      @extend %bold-font;
      font-size: 16px;
      &:hover {
        color: #312f2f;
        text-shadow: 2px 2px 2px rgba(121,120,111,0.49);
      }
    }
  }
}
        
// banner
.banner {
  display: flex;
  height: 930px;
  margin: 0;
  background-image: url(../media/banner_bg.jpg);
  background-position: center;
  background-size: cover;
}
.banner .container {
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
  flex: 1;
}
.banner__promo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 13%;
  margin-right: 5px;
  h1 {
    @extend %bold-font;
    font-size: 73px;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 45px;
    &:after {
      content: "";
      position: absolute;
      top: 96px;
      left: 309px;
      width: 137px;
      height: 5px;
      background-color: #212121;
    }
  }
  p {
    max-width: 550px;
    margin-top: 6px;
    @extend %regular-font;
    font-size: 18px;
    text-align: right;
    line-height: 1.9;
  }
  a {
    @extend %semibold-font;
    font-size: 18px;
    word-spacing: 1px;
    border: 2px solid #212121;
    box-sizing: border-box;
    width: 270px;
    height: 50px;
    margin-top: 36px;
    text-align: center;
    line-height: 50px;
    &:hover {
      background-color: rgba(47, 47, 38, 0.4);
    }
  }
}

// intro
.intro .container {
  max-width: 970px;
  min-height: 490px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    @extend %bold-font;
    font-size: 27px;
    word-spacing: 6px;
    margin-top: 17px;
  }
  p {
    @extend %regular-font;
    font-size: 16px;
    margin-top: 4%;
    line-height: 2;
    text-align: center;
    word-spacing: 2px;
  }
}

// services
.services {
  background-color: #efefef;
}
.services .container {
  justify-content: space-between;
  align-items: center;
  max-width: 1075px;
  min-height: 375px;
}
.services__block {
  h3 {
    @extend %semibold-font;
    font-size: 18px;
    word-spacing: 5px;
    letter-spacing: 0.8px;
  }
  p {
    max-width: 270px;
    @extend %regular-font;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 29px;
    word-spacing: 5px;
  }
  img {
    height: 37px;
  }
}

// featured articles
.featured-articles .container {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 840px;
}
.featured-articles__info {
  max-width: 770px;
  margin-top: 3%;
  h2 {
    @extend %bold-font;
    font-size: 27px;
    text-align: center;
    letter-spacing: 2px;
  }
  p {
    margin-top: 35px;
    @extend %regular-font;
    font-size: 16px;
    text-align: center;
    line-height: 2;
  }
}
.featured-articles__slider {
  max-width: 1166px;
  margin-bottom: 8%;
}
.featured-articles__slider-block {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 370px;
  height: 370px;
  background-color: #222222;
  &:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 147px;
    width: 73px;
    height: 5px;
    background-color: #e64a19;
    z-index: 5;
  }
  p {
    @extend %regular-font;
    font-size: 14px;
    letter-spacing: 1px;
    color: #eee;
    margin-top: 60px;
    margin-left: 30px;
  }
  h3 {
    @extend %regular-font;
    font-size: 28px;
    color: #eee;
    margin: 25px 55px 10px 30px;
    height: 140px;
  }
  figure {
    display: flex;
    margin-top: 0;
    margin-left: 30px;
    img {
      border-radius: 50%;
    }
    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @extend %semibold-font;
      font-size: 14px;
      letter-spacing: 1px;
      margin-left: 30px;
      color: #eee;
      margin-left: 13px;
      p {
        margin: 2px;
      }
    }
  }
}
.slick-next {
  right: -10px;
  top: 40%;
  &:before {
    content: '→';
    position: absolute;
    color: #222222;
    background-color: #222222;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 47% 100%, 74% 50%, 47% 0);
    right: -10px;
  }
}

// clients
.clients {
  background-color: #efefef;
}
.clients .container {
  display: block;
  max-width: 930px;
  min-height: 365px;
  border-top: 1px solid transparent;
  h2 {
    @extend %bold-font;
    font-size: 27px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 60px;
    margin-bottom: 65px;
  }
}
.clients__slider {
  margin-left: 20px;
}
.slick-initialized .slick-slide {
  width: 160px;
}

// portfolio
.portfolio .container {
  min-height: 915px;
  flex-direction: column;
  justify-content: space-around;
}
.portfolio__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  h2 {
    @extend %bold-font;
    font-size: 27px;
    text-align: center;
  }
  p {
    @extend %regular-font;
    font-size: 16px;
    max-width: 770px;
    text-align: center;
  }
  &:after {
    content: "";
    position: absolute;
    top: 86px;
    width: 75px;
    height: 7px;
    background-color: #e64a19;
  }
}

// quote
.quote {
  background-color: #212121;
}
.quote .container {
  min-height: 310px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @extend %regular-font;
  font-size: 20px;
  text-align: center;
  img {
    margin-top: 30px;
  }
}
.quote__text {
  color: #eee;
  max-width: 835px;
  line-height: 2;
  margin-top: 15px;
}
.quote__author {
  color: #fff;
  margin-top: 8px;
}

// team members
.team-members .container {
  min-height: 675px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}
.team-members__info {
  h2 {
    @extend %bold-font;
    letter-spacing: 2px;
    font-size: 27px;
    text-align: center;
    margin-top: 9%;
    margin-bottom: 0;
  }
  p {
    max-width: 770px;
    @extend %regular-font;
    font-size: 16px;
    text-align: center;
    line-height: 2;
    margin-bottom: 0;
    margin-top: 6%;
  }
}
.team-members__person {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5%;
  figure {
    margin: 2% 7%;
  }
}
.team-members__person-name {
  @extend %bold-font;
  font-size: 16px;
  margin-top: 45%;
}
.team-members__person-job {
  @extend %regular-font;
  font-size: 15px;
}

// facts
.facts {
  background-image: linear-gradient(to top left, rgba(87, 87, 87, .7), rgba(87, 87, 87, .7)), url(../media/facts-banner.jpg);
  background-position: center;
  background-size: cover;
}
.facts .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 690px;
  h2 {
    @extend %bold-font;
    font-size: 26px;
    color: #eee;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 65px;
    margin-top: 10px;
  }
  p {
    color: #eee;
    text-align: center;
    letter-spacing: 2px;
  }
}
.facts__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(146, 146, 146, .34);
  position: relative;
  max-width: 830px;
  min-height: 355px;
  box-sizing: border-box;
  margin-bottom: 60px;
  &:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 376px;
    width: 75px;
    height: 6px;
    background-color: #e64a19;
  }
}
.facts__block-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.facts__block-item-num {
  position: relative;
  @extend %bold-font;
  font-size: 26px;
  &:after {
    content: "";
    position: absolute;
    top: 52px;
    right: 170px;
    width: 75px;
    height: 4px;
    background-color: #4d4c4b;
  }
}
.facts__block-item-def {
  @extend %regular-font;
  font-size: 24px;
}

// blog
.blog .container {
  min-height: 1340px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: minmax(auto, 430px);
  justify-items: center;
  align-items: center;
  margin-top: 6%;
}
.blog__text {
  p {
    @extend %regular-font;
    text-align: center;
  }
  h3 {
    @extend %semibold-font;
    font-size: 24px;
    text-align: center;
    margin-bottom: 43px;
    margin-top: 0px;
  }
}
.blog__text-date {
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.blog__text-prev {
  font-size: 16px;
  line-height: 2;
  max-width: 430px;
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 43px;
}
.blog__slider {
  min-height: 220px;
  background-color: #efefef;  
}

// tweets
.tweets .container {
  max-width: 830px;
  min-height: 461px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  p {
    text-align: center;
  }
}
.tweets__icon {
  margin-top: 7%;
}
.tweets__photo {
  border-radius: 50%;
  margin-top: 4%;
}
.tweets__text {
  @extend %regular-font;
  font-size: 20px;
  margin: 0;
  line-height: 2;
}
.tweets__link {
  @extend %bold-font;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10%;
}

// feedback
.feedback {
background-color: #212121;
}
.feedback .container {
  min-height: 380px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  border-bottom: 1px solid #999;
}
.feedback__form {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  h2 {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0;
    @extend %bold-font;
    font-size: 22px;
    color: #eee;
    line-height: .7;
  }
  p {
    grid-column: 1/6;
    grid-row: 4/6;
    @extend %regular-font;
    font-size: 14px;
    color: #999;
    line-height: 1.6;
    word-spacing: 1px;
    margin-top: 8px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}
.feedback__form-block {
  grid-column: 1/6;
  grid-row: 6/11;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.feedback__form-block textarea, input {
  @extend %regular-font;
  color: #999;
  :focus {
    outline-color: rgb(229, 236, 233);
  }
}
.feedback__form-block-mail {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
  height: 70%;
}
.feedback__form-block-subj {
  grid-column: 3/6;
  grid-row: 1/2;
  width: 68%;
  height: 70%;
  margin-left: 31px;
}
.feedback__form-block-message {
  grid-column: 1/6;
  grid-row: 2/3;
  width: 87%;
  height: 70%;
  resize: none;
  padding: 0;
}
.feedback__form-block-btn {
  grid-column: 1/2;
  grid-row: 5/6;
  cursor: pointer;
  border-bottom-color: transparent;
  text-align: start;
  padding: 0;
  &:hover {
    color: #ebe5e5;
    text-shadow: 2px 2px 2px rgba(121,120,111,0.49);
  }
}
.feedback__contact {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    @extend %semibold-font;
    font-size: 15px;
    color: #eee;
    line-height: 0.8;
    margin-left: 16px;
  }
  ul {
    @extend %feedback-links;
  }
  a {
    @extend %regular-font;
    font-size: 14px;
    color: #999;
    &:hover {
      color: #ebe5e5;
      text-shadow: 2px 2px 2px rgba(121,120,111,0.49);
    }
  }
}
.feedback__contact-links {
  grid-column: 1/2;
  grid-row: 3/10;
}
.feedback__contact-friends {
  grid-column: 3/4;
  grid-row: 3/10;
}
.feedback__contact-social {
  grid-column: 5/6;
  grid-row: 3/10;
}

// main footer
.main-footer {
  background-color: #212121;
  min-height: 110px;
}
